.btn {
  display: block;
  font-size: 17px;
  line-height: 20px;
  @include font-family-bold;
  color: $font-grey;
  @include bg-white;
  border: 2px solid $font-grey;
  padding: 13px 0px;
  text-transform: uppercase;
  text-align: center;
}
