.category {
  @include width100;
  background-color: #f9f9f9;

  .category__wrapper {
    @include wrapper-wdth-mrgn;
  }

  .category__header {
    padding: 0px 30px;
    background-image: url(../img/hero-mobile@1x.jpg);
    background-position: -128px -12px;
    background-repeat: no-repeat;
  }

  .category__header-text {
    margin: 0px auto;
    width: 216px;
    padding-top: 75px;
    padding-bottom: 120px;
    font-size: 27px;
    line-height: 30px;
    @include font-family-bold;
    color: $font-title-black;
    text-align: center;
  }

  .category-list {
    @include list-reset;
    @include width100;
  }

  .category-list__item {
    display: flex;
    &--light-green {
      background-color: $bg-light-green;
      padding-top: 20px;
      padding-bottom: 18px;
    }
    &--dark-green {
      background-color: $bg-dark-green;
      padding-top: 20px;
      padding-bottom: 20px;
    }
  }

  .category-list__link {
    @include wrapper-wdth-mrgn-pddng;
    display: flex;
    justify-content: space-between;
  }

  .category-list__text {
    display: block;
    width: 50%;
    font-size: 19px;
    line-height: 24px;
    @include font-family-bold;
    color: $font-white;
  }

  .category-list__image {
    &--light-green {
      margin-right: 9px;
      fill: #3bb09d;
    }
    &--dark-green {
      path {
        fill: #35a999;
      }
    }
  }
}

@media (min-width:$tablet-width) {
  .category {
    border-top: 1px solid #e7e7e7;
    background-color: #f9f9f9;

    .category__wrapper {
      width: $tablet-width;
    }

    .category__header {
      margin: 0 auto;
      background-size: cover;
      // background-image: url(../img/hero-mobile@1x.jpg);
       background-position: center top;
    }

    .category__header-text {
      width: 500px;
      padding-top: 153px;
      padding-bottom: 372px;
      font-size: 43px;
      line-height: 50px;
      text-align: center;
    }

    .category-list {
      display: flex;
      width: $tablet-width;
      padding: 0px 50px;
      margin: 0px auto;
    }

    .category-list__item {
      width: 50%;
      &--light-green {
        padding-top: 30px;
        padding-bottom: 25px;
      }
      &--dark-green {
        padding-top: 31px;
        padding-bottom: 26px;
      }
    }

    .category-list__link {
    }

    .category-list__text {
      font-size: 20px;
      line-height: 30px;
    }
  }
}

@media (min-width:$desktop-width) {
  .category {

    .category__wrapper {
      width: $desktop-width;
    }

    .category__header-text {
      padding-top: 153px;
      padding-bottom: 355px;
      width: 650px;
      font-size: 53px;
      line-height: 57px;
    }

    .category-list {
      width: $desktop-width;
    }

    .category-list__link {
      width: 100%;
    }

    .category-list__text {
      width: 115px;
    }
  }
}
