.category {
  @include width100;
  @include outline-red;

  .category__wrapper {
    @include wrapper-wdth-mrgn;
    @include border-green;
  }

  .category__header {
    width: 320px;
    height: 282px;
    background-image: url(../img/hero-mobile@1x.jpg);
    background-position: center top;
    background-repeat: no-repeat;
  }

  .category__header-text {
    font-size: 27px;
    line-height: 30px;
    @include font-family-bold;
    color: $font-title-black;
  }

  .category-list {
    @include list-reset;
    @include width100;
    @include outline-red;
  }

  .category-list__item {
    &--light-green {
      background: $bg-light-green;
    }
    &--dark-green {
      background: $bg-dark-green;
    }
  }

  .category-list__link {
    display: block;
    @include wrapper-wdth-mrgn-pddng;
    font-size: 19px;
    line-height: 24px;
    @include font-family-bold;
    color: $font-white;
    @include border-green;
  }
}
