.contacts {
  @include width100;
  @include bg-white;

  .contacts__wrapper {
    @include wrapper-wdth-mrgn-pddng;
  }

  .contacts__title {
    margin: 0px;
    padding-top: 34px;
    padding-bottom: 25px;
    font-size: 18px;
    line-height: 30px;
    @include font-family-bold;
    color: $font-black;
  }

  .contacts__ico-flag {
    display: none;
  }

  .contacts__email-address-wrapper {
    display: flex;
    flex-direction: column;
  }

  .contacts__address {
    display: flex;
    align-content: flex-start;
    align-items: flex-start;
  }

  .address__title {
    padding-right: 30px;
  }

  .address__name {
    width: 180px;
    margin-bottom: 40px;
  }

  .email__name {
    border-bottom: 1px solid $bordre-green;
  }

  .contacts__btn-wrapper {
    @include wrapper-wdth-mrgn-pddng;
    padding: 40px 30px;
  }
}
@media (min-width:$tablet-width) {
  .contacts {

    .contacts__wrapper {
      position: relative;
      padding: 0 50px;
      width: $tablet-width;
    }

    .contacts__title-wrapper{
      display: flex;
      justify-content: space-between;
    }

    .contacts__title {
      padding-top: 60px;
      padding-bottom: 45px;
      font-size: 43px;
      line-height: 50px;
    }

    .contacts__ico-flag {
      display: block;
      padding-top: 45px;
      width: 50px;
      height: 125px;
      background-image: url(../img/icon-flag.svg);
      background-position: bottom;
      background-repeat: no-repeat;
    }

    .contacts__email-address-wrapper {
      flex-direction: row;
      margin-bottom: 20px;
    }

    .contacts__address {
      font-size: 17px;
      margin-right: 36px;
      &:last-child {
        margin-right: 0px;
      }
    }

    .address__name {
      width:auto;
      margin-bottom: 40px;
    }

    .contacts__address {
      width: 50%;
    }

    .contacts__btn-wrapper {
      padding: 55px 50px;
      width: $tablet-width;
    }

    .contacts__btn {
      width: 230px;
      margin: 0 auto;
    }
  }
}

@media (min-width:$desktop-width) {
  .contacts {
    margin-top: 35px;

    .contacts__wrapper {
      width: 1151px;
      padding: 0px 50px;
    }

    .contacts__title-wrapper {
      position: relative;
      justify-content: flex-start;
      margin-left: 175px;
      width: 302px;
    }

    .contacts__title {
      order: 2;
      padding-top: 75px;
      padding-bottom: 45px;
      font-size: 53px;
      line-height: 57px;
    }

    .contacts__ico-flag {
      position: absolute;
      display: block;
      top: 0px;
      left:-113px;
      padding-top: 62px;
      width: 50px;
      height: 144px;
      background-image: url(../img/icon-flag.svg);
      background-position: bottom;
      background-repeat: no-repeat;
    }

    .contacts__email-address-wrapper {
      flex-direction: column;
      width: 302px;
      margin-left: 175px;
    }

    .contacts__address {
      width: auto;
    }

    .address__title {
      padding-right: 25px;
    }

    .address__name {
      margin-bottom: 30px;
    }

    .contacts__btn-map-wrapper {
      position: relative;
      margin: 0 auto;
      width: 1151px;
    }

    .contacts__map {
      position: absolute;
      right: 50px;
      top: -378px;
      width: 530px;
      height: 460px;
    }

    .contacts__btn-wrapper {
      margin: 0px;
      padding-left: 225px;
      padding-top:27px;
      padding-bottom: 105px;
      width: 302px;
    }
  }
}
