.copyright {
  display: flex;
  justify-content: center;

  .copyright__link {
    padding-top: 22px;
    padding-bottom: 14px;
  }

  .copyright__text {
    font-size: 19px;
    line-height: 18px;
    @include font-family-bold;
    color: $font-black;
    padding-right: 27px;
    vertical-align: middle;
    &:hover {
      color: $font-black;
    }
    &:active {
      color: $font-black;
      opacity: 0.3;
    }
  }

  .copyright__img {
    width: 30px;
    height: 35px;
    path {
      fill: $bg-light-green;
    }
    &:hover {
      path {
        fill: $bg-middle-green;
      }
    }
    &:active {
      path {
        fill: $bg-middle-green;
        opacity: 0.3;
      }
    }
  }
}

@media (min-width:$tablet-width) {
  .copyright {
    display: flex;
    justify-content: space-between;

    .copyright__text {

    }
  }
}

@media (min-width:$desktop-width) {
  .copyright {

    .copyright__text {

    }
  }
}
