.copyright {

  .copyright__text {
    font-size: 19px;
    line-height: 18px;
    @include font-family-bold;
    color: $font-black;
  }
}

@media (min-width:$tablet-width) {
  .copyright {
    display: flex;
    justify-content: space-between;

    .copyright__text {

    }
  }
}

@media (min-width:$desktop-width) {
  .copyright {

    .copyright__text {

    }
  }
}
