.delivery-list {

  display: none;
}

@media (min-width:$tablet-width) {
  .delivery-list {
    @include list-reset;
    display: flex;
    order: 2;

    .delivery-list__item {
      padding-top:15px;
      padding-bottom: 29px;
    }

    .delivery-list__link{
      font-size: 15px;
      line-height: 24px;
      @include font-family;
      color: $font-grey;
    }
  }
}

@media (min-width:$desktop-width) {
  .delivery-list {
  }
}
