.page-footer {
  @include width100;
  @include bg-grey;

  .page-footer__wrapper {
    @include wrapper-wdth-mrgn-pddng;
  }

  .page-footer__logo {
    display: none;
  }
}

@media (min-width:$tablet-width) {
  .page-footer {

    .page-footer__wrapper {
      width: $tablet-width;
      padding-top: 31px;
      padding-bottom: 24px;
      padding-left: 50px;
      padding-right: 50px;
      display: flex;
      justify-content: space-between;
    }

    .page-footer__logo {
      display: block;
      width: 102px;
      height: 34px;
      padding-top: 20px;
      padding-bottom: 24px;
    }

    .page-footer__logo-image {
      width: 102px;
      height:34px;
      &:hover {
        fill: $bg-middle-green;
      }
      &:active {
        fill: $bg-middle-green;
        opacity: 0.3;
      }
    }
  }
}

@media (min-width:$desktop-width) {
  .page-footer {

    .page-footer__wrapper {
      padding-top: 25px;
      width: $desktop-width;
    }
  }
}
