.modal {

}

    .modal__title {
      @include font-family-title;
    }

    .form-group__title {
      @include font-family-text;
    }

    .field-radio__text {
      font-size: 17px;
      line-height: 16px;
      @include font-family-bold;
      color: $font-grey;
    }

    .modal__btn {
      color: $font-white;
      @include bg-green;
    }
