.order {
  @include width100;
  @include bg-white;

  .order__wrapper {
    @include wrapper-wdth-mrgn-pddng;
  }

  .order__title-wrapper {
    @include width100;
    margin: 0 auto;
    background-color: $bg-grey;
  }

  .order__title {
    @include wrapper-wdth-mrgn-pddng;
    @include font-family-page-title;
    padding-top: 71px;
    padding-bottom: 78px;
  }

  .order__description {
    margin: 0px;
    padding-top: 20px;
    padding-bottom: 17px;
    font-size: 13px;
    line-height: 24px;
    @include font-family;
    color: $font-grey;
  }
}

@media (min-width:$tablet-width) {
  .order {

    .order__title-wrapper {
      border-top: 1px solid #dfdfdf;
      &::after {
        position: absolute;
        content: "";
        display: block;
        top: 300px;
        left: 0px;
        width: 100%;
        height: 24px;
        background: url("../img/bg-zigzag-fill.svg") repeat-x;
        background-size: 768px 26px;
      }
    }

    .order__title {
      width: $tablet-width;
      padding-left: 50px;
      padding-right: 50px;
      padding-top: 100px;
      padding-bottom: 72px;
      font-size: 43px;
      line-height: 50px;
      color: $font-black;
      text-align: center;
    }

    .order__wrapper {
      width: 100%;
      padding: 0px;
    }

    .order__description {
      margin: 0px auto;
      width: $tablet-width;
      padding: 0px 50px;
      padding-top: 72px;
      padding-bottom: 20px;
      font-size: 17px;
      line-height: 30px;
    }
  }
}

@media (min-width:$desktop-width) {
  .order {

    .order__wrapper {
    }

    .order__title-wrapper {
      &::after {
        top: 320px;
      }
    }

    .order__title {
      padding-top: 92px;
      padding-bottom: 104px;
      font-size: 53px;
      line-height: 57px;
    }

    .order__description {
    }
  }
}
