.order {
  @include width100;
  @include bg-white;
  @include outline-red;
  background-color: yellow;

  .order__wrapper {
    @include wrapper-wdth-mrgn-pddng;
    @include border-green;
  }

  .order__title-wrapper {
    @include width100;
    @include bg-grey;
    // @include outline-red;
    margin: 0 auto;
  }

  .order__title {
    @include wrapper-wdth-mrgn-pddng;
    @include font-family-page-title;
    padding-top: 71px;
    padding-bottom: 78px;
  }

  .order__description {
    font-size: 13px;
    line-height: 24px;
    @include font-family;
    color: $font-grey;
  }
}

@media (min-width:$tablet-width) {
  .order {

    .order__title-wrapper {
      border-top: 1px solid #dfdfdf;
    }

    .order__title {
      width: $tablet-width;
      padding-left: 50px;
      padding-right: 50px;
      padding-top: 100px;
      padding-bottom: 72px;
      font-size: 43px;
      line-height: 50px;
      color: $font-black;
      text-align: center;
    }

    .order__wrapper {
      width: $tablet-width;
      padding-left: 50px;
      padding-right: 50px;
      background-color: grey;
    }

    .order__description {

    }
  }
}

@media (min-width:$desktop-width) {
  .order {

    .order__wrapper {
      width: 1151px;
    }

    .order__title-wrapper {
    }

    .order__title {
      padding-top: 95px;
      padding-bottom: 105px;
    }

    .order__description {
    }
  }
}
