.page-header {
  position: relative;
  @include width100;
  @include bg-white;

  .page-header__wrapper {

  }

  .page-header__logo {
    width: 171px;
    margin: 0 auto;
    display: block;
    padding-top: 20px;
    padding-bottom: 13px;
    padding-left: 41px;
    &:hover {
      opacity: 0.6;
    }
    &:active {
      opacity: 0.3;
    }
    &:after {
      @media (max-width:$tablet-width - 1px) {
        position: absolute;
        top: 78px;
        left: 0px;
        content: "";
        display: block;
        width: 100%;
        border-bottom: 1px solid #ececec;
      }
    }
  }

  .page-header__logo-image {
    width: 86px;
    height: 35px;
  }
}

@media (min-width:$tablet-width) {
  .page-header {

    .page-header__wrapper {
      position: relative;
      padding-left: 50px;
      padding-right: 50px;
      margin: 0 auto;
      width: 768px;
    }

    .page-header__logo {
      position: absolute;
      left:5px;
      top: 3px;
      z-index: 2;
      width: auto;

    }

    .page-header__logo-image {
      width: 112px;
      height: 46px;
    }
  }
}

@media (min-width:$desktop-width) {
  .page-header {

    .page-header__wrapper {
      width: 1151px;
    }

    .page-header__logo {
      padding: 0px;
      margin: 0px;
      position: absolute;
      left: 499px;
      top: 7px;
      width: 148px;
      height: 73px;
    }

    .page-header__logo-image {
      width: 148px;
      height: 73px;
    }
  }
}
