.page-header {
  position: relative;
  @include width100;
  @include bg-white;

  .page-header__wrapper {
  }

  .page-header__logo {
    @include wrapper-wdth-mrgn;
    display: block;
    padding: 16px 30px;
    padding-left: 100px;
    &:after {
      @media (max-width:$tablet-width - 1px) {
        position: absolute;
        top: 78px;
        left: 0px;
        content: "";
        display: block;
        width: 100%;
        border-bottom: 1px solid #ececec;
      }
    }
  }

  .page-header__logo-image {
    width: 88px;
    height: 38px;
  }
}

@media (min-width:$tablet-width) {
  .page-header {

    .page-header__wrapper {
      position: relative;
      padding-left: 50px;
      padding-right: 50px;
      margin: 0 auto;
      width: 768px;
    }

    .page-header__logo {
      position: absolute;
      left:50px;
      top:20px;
      z-index: 2;
      width: 113px;
      height: 47px;
      //background-color: black;
    }

    .page-header__logo-image {
      width: 113px;
      height: 47px;
    }
  }
}

@media (min-width:$desktop-width) {
  .page-header {

    .page-header__wrapper {
      width: 1151px;
    }

    .page-header__logo {
      position: absolute;
      margin: auto;
      left: 0;
      right: 0;
      // height: 37 px;
      width: 115px;
      height: 47px;
      background-color: lightgreen;
    }
  }
}
