.promo-list {
  display: none;
}

@media (min-width:$desktop-width) {
  .promo-list {
    display: flex;
    @include list-reset;

    .promo-list__item {
      padding-top:15px;
      padding-bottom: 22px;
      width:190px;
      padding-right: 0px;
      padding-left: 29px;
      &:first-child {
        padding-left: 0px;
      }
    }

    .promo-list__link{
      margin: auto;
      font-size: 15px;
      line-height: 24px;
      @include font-family-bold;
      color: $font-black;
      &:hover {
        opacity: 0.6;
      }
      &:active {
        opacity: 0.3;
      }
    }
  }
}
