.promo {
  @include bg-white;
}

    .promo__title {
      @include font-family-title;
    }

    .promo__name {
      font-size: 17px;
      line-height: 20px;
      @include font-family-bold;
      color: $font-green;
    }

    .promo__description {
      font-size: 15px;
      line-height: 24px;
      @include font-family;
      color: $font-grey;
    }

   .params__item {
     font-size: 15px;
     line-height: 20px;
     @include font-family;
     color: $font-grey;
   }

   .promo__price {
     font-size: 17px;
     line-height: 24px;
     @include font-family-bold;
     color: $font-grey;
   }
