.video {
  @include width100;
  @include bg-white;
  @include outline-red;

  .video__wrapper {
    @include wrapper-wdth-mrgn-pddng;
    @include border-green;
  }
  .video__title {
    font-size: 17px;
    line-height: 24px;
    @include font-family-bold;
    color: $font-black;
  }

  .video__video {
    width: 262px;
    height: 152px;
    background-image: url(../img/video-mobile@1x.jpg);
    background-position: center top;
    background-repeat: no-repeat;
  }

  .video__text {
    font-size: 13px;
    line-height: 24px;
    @include font-family;
    color: $font-grey;
  }
}
