$font-black:#000000;
$font-title-black:#010000;
$font-white:#ffffff;
$font-green:#63d1bb;
$font-grey:#444444;
$bg-white:#ffffff;
$bg-light-green:#63d1bb;
$bg-dark-green:#56c3b2;
$bg-grey:#f1f1f1;
$tablet-width:768px;
$desktop-width:1151px;
$font-order-title:#231f20;
